<p>
  {{name}} book-list works!


</p>
<div [hidden]="isHidden">This is my box</div>
<button (click)="isHidden=!isHidden">Hide me</button>


<div (mousemove)="mouseMove($event)" style="border: 1px solid black; width: 240px; height: 140px">This is my box</div>
<div>
  x: {{x}}, y: {{y}}
</div>
<h3 (mousedown)="sendTitleClicked($event)">{{title}}</h3>

<table>

  <thead>
    <td>Title</td>
    <td>ISBN</td>
    <td>Author</td>
  </thead>
    <tr *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.isbn}}</td>
      <td>{{book.author}}</td>
    </tr>
</table>
